[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glew-cmake"]
	path = glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "OpenMesh"]
	path = OpenMesh
	url = https://gitlab.vci.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "plf_colony"]
	path = plf_colony
	url = https://github.com/mattreecebentley/plf_colony.git
[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype.git
